@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica_Cursive-Bold.ttf');
}

$borderColor: #444444;

.dashboard-container {
  display: flex;
}

.dashboard-page {
  flex-direction: column;
  flex-grow: 1;
}

.user-page {
  padding: 50px;
  background: linear-gradient(349deg, rgba(96, 77, 49, 1) 0%, rgba(0, 0, 0, 1) 100%);
  display: flex;

  .u-icon {
    margin: 10px 0;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .u-icon img {
    width: 150px;
    height: 150px;
  }

  .user-info {
    margin: 5px 30px;
    color: #fff;

    h3 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      margin-bottom: 5px;
    }

    .progress-bar-1 {
      width: 300px;
      height: 12px;
      margin-top: 12px;

      .progress-1 {
        height: 100%;
        background-color: #e91010;
      }
    }

    .progress-bar-2 {
      width: 300px;
      height: 12px;
      margin-top: 12px;

      .progress-2 {
        height: 100%;
        background-color: #d4af37;
      }
    }
  }
}

.task-page {
  margin: 0;
  padding: 0;

  .task-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;

    .search-bar {
      padding: 7px 10px;
      margin-right: 10px;
      background-color: #eeeeee;
      border: 1px solid #ccc;
      font-family: 'NotoSans-Medium';
      font-size: 15px;
      color: #444444;
    }

    .search-btn {
      margin-right: 7px;
      padding: 7px 10px;
      background-color: #d4af37;
      font-size: 15px;
      border: 2px solid #535353;
      font-family: 'Geologica';
      color: #ffffff;
      vertical-align: middle;
      transition: background-color 0.3s ease;
    }

    .search-btn:hover {
      background-color: #b69734;
    }

    .add-task-btn {
      padding: 7px 10px;
      background-color: $borderColor;
      font-size: 15px;
      border: 2px solid #535353;
      font-family: 'Geologica';
      color: #ffffff;
      vertical-align: middle;
      transition: background-color 0.3s ease;
    }

    .add-task-btn:hover {
      background-color: #535353;
    }

    .fa-icon {
      vertical-align: middle;
      font-size: 14px;
      margin-right: 7px;
    }
  }
}

.task-lists {
  display: flex;
  justify-content: center;
}

.task-col {
  width: 48%;
  height: 550px;
  background-color: #272727dc;
  border: 1px solid $borderColor;
  margin: 20px 5px 30px 10px;
}

.task-title {
  width: 100%;
  height: 50px;
  background-color: #3a3a3adc;
  border-bottom: 1px solid $borderColor;
}

.task-title p {
  padding: 13px 20px;
  font-family: 'Geologica';
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 35%;
  height: 600px;
  margin-bottom: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  animation: slideDownModal 0.3s ease-out;
  transform: translateY(-20%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.modal-add-task {
  width: 100%;
  height: 310px;
  background-color: #4d4c4c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-container-1 {
  display: flex;
  justify-content: space-between;
}

.modal-container-1 p {
  font-size: 20px;
  font-family: 'NotoSans-Medium';
  margin: 30px;
}

.modal-btn {
  margin: 30px 30px;
}

.close-modal-btn {
  padding: 0 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'NotoSans-Medium';
  font-size: 15px;
  transition: none;
}

.close-modal-btn:hover {
  text-decoration: underline;
}

.create-task-btn {
  margin-right: 7px;
  padding: 7px 15px;
  background-color: #888888;
  font-size: 15px;
  border: 2px solid #535353;
  border-radius: 5px;
  font-family: 'NotoSans-Medium';
  color: #fff;
  vertical-align: middle;
  transition: background-color 0.1s ease;
}

.create-task-btn:hover {
  background-color: #7a7a7a;
}

.modal-container-2 {
  margin: 0 30px;
}

.modal-container-2 p {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'NotoSans-Medium';
}

.modal-task-title {
  width: 95%;
  padding: 7px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  font-family: 'NotoSans-Medium';
  font-size: 15px;
  color: #444444;
}

.modal-task-notes {
  width: 95%;
  padding: 7px 10px 35px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  font-family: 'NotoSans-Medium';
  font-size: 15px;
  color: #444444;
}

.slide-down {
  transform: translateY(0);
}

@keyframes slideDownModal {
  from {
    transform: translateY(-5%);
  }

  to {
    transform: translateY(0);
  }
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.modal-checkbox label {
  vertical-align: middle;
  margin: 0 10px;
  font-family: 'NotoSans-Medium';
  font-size: 17px;
}

.modal-checkbox input {
  margin: 0 10px;
  vertical-align: middle;
}

.modal-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  height: 20px;
  cursor: pointer;
}

/* Modal DatePicker */

.modal-datepicker {
  margin: 20px 30px;
}

.modal-datepicker p {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'NotoSans-Medium';
  color: #000;
}

.customDatePicker .react-datepicker-wrapper {
  display: inline-block;
}

.customDatePicker .react-datepicker__input-container {
  display: flex;
  align-items: center;
}

.customDatePicker .react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 2px solid #ccc;
  font-size: 15px;
  box-sizing: border-box; 
}

.customDatePicker .react-datepicker__input-container input:focus {
  outline: none;
  border-color: #ffd727;
}


