.dashboard-container {
  display: flex;
}

.dashboard-page {
  flex-direction: column;
  flex-grow: 1;
}

.user-page {
  padding: 50px;
  background-color: #353535;
  justify-content: center;
  align-items: center;
}

.task-page {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  font-size: 100px;
  color: #fff;
}

