$mainColor: #ffc918dc;
$secColor: #d4af37;
$semiColor: #f1c841;
$boxColor: #383838dc;
$borderColor: #4e4e4e;

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica_Cursive-Bold.ttf');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSans-Light.ttf');
}

.home-body {
  margin: 0;
  padding: 0;
}

.container-1 {
  padding: 5px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-info {
  margin-bottom: 50px;
  margin-left: 30px;
  padding: 10px 10px;
}

h1 span {
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-image {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
}

.contain-image {
  width: 570px;
  margin-left: 20px;

}

h1 {
  font-size: 59px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: 'Geologica';
}

p {
  font-size: 20px;
  color: #ffffff;
  margin-right: 26%;
  font-family: 'NotoSans-Light';
}

.home-btn {
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.home-btn button {
  margin-bottom: 40px;
}

.primary-btn-1 {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: $mainColor;
  opacity: 1;
  border: 2px solid $secColor;
  border-radius: 7px;
  font-size: 18px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.primary-btn-1:hover {
  opacity: 0.7;
}

.btn-1 {
  color: #fff;
  text-decoration: none;
  font-family: 'Nunito-Bold';
}

.primary-btn-2 {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: $boxColor;
  opacity: 1;
  border: 2px solid $borderColor;
  border-radius: 7px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.primary-btn-2:hover {
  background-color: #2c2c2cdc;
}

.btn-2 {
  color: #fff;
  text-decoration: none;
  font-family: 'Nunito-Bold';
  font-size: 16px;
}

.icons-1 {
  font-size: 20px;
  margin-left: 4px;
  vertical-align: middle;
}

.container-2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.col {
  width: 20%;
  height: 260px;
  background-color: #2b2a2adc;
  border: 2px solid #444444;
  border-radius: 7px;
  margin: 30px 20px 30px 20px;
  transition: transform 0.3s ease;
}

.col:hover {
  transform: scale(1.1);
}

.box {
  align-items: center;
  justify-content: center;
}

.box h1 {
  color: #fff;
  font-size: 20px;
  margin: 0px 0px 10px 20px;
  font-family: 'Geologica';
}

.box P {
  color: #b6b6b6;
  font-size: 16px;
  margin: 20px 0px 10px 20px;
  font-family: 'NotoSans-Light';
}

.box-icon {
  font-size: 35px;
  margin: 30px 10px 10px 20px;
  color: $semiColor;
}

.box-button {
  font-size: 18px;
  margin: 50px 0px 10px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $semiColor;
}

.box-button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: $semiColor;
  transition: width 0.3s ease;
}

.box-button:hover::after {
  width: 100%;
}

.box-btn-1 {
  display: inline-block;
  text-decoration: none;
  color: $semiColor;
  font-family: 'NotoSans-Medium';
}

.box-icon-2 {
  font-size: 25px;
  margin-bottom: 4px;
  margin-left: 5px;
  vertical-align: middle;
  color: $semiColor;
}


