@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica_Cursive-Bold.ttf');
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSans-Light.ttf');
}

.side-navbar {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: #292929;
  border-right: 1px solid #494949;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.home-title {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  background-color: #313131;
}

.side-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.home-title p {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Geologica';
  margin: 0;
}

.home-title span {
  font-family: 'Geologica';
  color: #ffc918dc;
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  text-decoration: none;
  font-family: 'NotoSans-Light';
  padding: 20px 15px;
  margin: 0;
  transition: background-color 0.2s ease;
}

.sidebar-menu a:hover {
  background-color: #504f4f;
}


.sidebar-icon {
  font-size: 30px;
  margin-right: 10px;
}

